<div class="mat-elevation-z5">
  <mat-toolbar color="primary">
    <a href="https://drive.google.com/file/d/1_xxXAOvOW6RDuuy2exZigVZESwfY7viw/view?usp=sharing"><button mat-stroked-button color="accent" class="header-button">Resume</button></a>
    <a href="https://github.com/cpgeier"><button mat-stroked-button color="accent" class="header-button">Projects</button></a>
    <a href="https://drive.google.com/file/d/1hGaRDBTPpR6MLDWj_AeB8LjmFcRYZZn5/view?usp=sharing"><button mat-stroked-button color="accent" class="header-button">Transcript</button></a>
    <span class="example-fill-remaining-space"></span>
    <a href="https://www.linkedin.com/in/christopher-geier-6b7912139/"><i class="fab fa-linkedin-in fa-lg header-contact-icon"></i></a>
    <a href="mailto:cpg3rb@virginia.edu"><i class="fas fa-envelope fa-lg header-contact-icon"></i></a>
  </mat-toolbar>
</div>