<section class="mat-typography">
  <div class="example-container">
    <app-header></app-header>
    <mat-sidenav-container class="example-sidenav-container">
      <div class="primaryColorBG example-toolbar">
        <h1 class="mat-display-4">Responsive App</h1>
        <h2 class="mat-display-1">Responsive App</h2>
        <div class="button-container">
          <button mat-raised-button>Resume</button>
          <button mat-raised-button>Projects</button>
          <button mat-raised-button>Transcript</button>
        </div>
      </div>
      <div class="presentation-box">
        <div class="presentation-row">
          <img src="../../assets/images/aws.svg" alt="AWS Logo" class="presentation-image">
          <div class="presentation-text">
            <h2> WOW WOW WOW </h2>
            <p> some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
          </div>
        </div>
        <div class="presentation-row">
          <div class="presentation-text">
            <h2> WOW WOW WOW </h2>
            <p> some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
          </div>
          <img src="../../assets/images/scikit.svg" alt="AWS Logo" class="presentation-image">
        </div>
        <div class="presentation-row">
          <img src="../../assets/images/keras.png" alt="AWS Logo" class="presentation-image">
          <div class="presentation-text">
            <h2> WOW WOW WOW </h2>
            <p> some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
          </div>
        </div>
        <div class="presentation-row">
          <div class="presentation-text">
            <h2> WOW WOW WOW </h2>
            <p> some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
          </div>
          <img src="../../assets/images/angular.svg" alt="AWS Logo" class="presentation-image">
        </div>
      </div>
      <app-projects></app-projects>
      <app-footer></app-footer>
    </mat-sidenav-container>
  </div>
</section>