.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.example-header-image {
  background-image: url('../../assets/images/GitHub-Mark-120px-plus.png');
  background-size: cover;
}