/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import 'assets/fonts/Roboto.css';

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn); // Or mat-dark-theme

@include angular-material-theme($theme);

.primaryColorBG {
  background-color: mat-color($primary);
}
.accentColorBG {
  background-color: mat-color($accent);
}
.warnColorBG {
  background-color: mat-color($warn);
}

body {
  margin: 0px;
}